@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;800&display=swap');

.ov {
    font-family: 'Noto Sans Mono', monospace;

    --vp-home-hero-name-background: -webkit-linear-gradient(
            120deg,
            #a69db7 30%,
            #cbaaaa
    );

    --vp-home-hero-image-background-image: linear-gradient(
            -45deg,
            #27252c 50%,
            #251f1f 50%
    );
}
.vp-doc h2 {
    border: none;
    margin-top: 0;
    /*padding-top: 0;*/
}

.vp-doc h1 {
    padding-bottom: 10px;
    border-bottom: 1px var(--vp-c-default-3) solid;
    margin-bottom: 25px;
}

.vp-doc .warning h1 {
    border-bottom: 1px var(--vp-c-warning-3) solid;
}

.vp-doc a {
    text-decoration: unset;
}

.vp-doc h2 .VPBadge {
    font-size: 14px;
    padding: 3px 10px;
}