.vp-doc  {

    h1 {
        padding-bottom: 10px;
        border-bottom: 1px var(--vp-c-default-3) solid;
        margin-bottom: 25px;
    }

    .warning h1 {
        border-bottom: 1px var(--vp-c-warning-3) solid;
    }

    h2 {
        border: none;
        margin-top: 0;
        /*padding-top: 0;*/
    }

    a {
        text-decoration: unset;
    }

    h2 .VPBadge {
        font-size: 14px;
        padding: 3px 10px;
    }

}

// Не получилось реализовать компонентом, обидно :(
.VPFeatures .emoji {
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    margin-right: 5px;
    background: var(--vp-c-default-soft);
}