@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {

    --vp-font-family-mono: 'JetBrains Mono', monospace;
}

.VPHero .name {
    --vp-font-family-base: 'Manrope', sans-serif;
}

.vp-doc {
    h1 {
        padding-bottom: 10px;
        border-bottom: 1px var(--vp-c-divider) solid;
        margin-bottom: 25px;
    }
    .warning h1 {
        border-bottom: 1px var(--vp-c-warning-3) solid;
    }
    h2 {
        border: none;
        margin-top: 0;
    }    /*padding-top: 0;*/

    a {
        text-decoration: unset;
    }
    h2 .VPBadge {
        font-size: 14px;
        padding: 3px 10px;
    }
    // Не получилось реализовать компонентом, обидно :(
}
.VPFeatures .emoji {
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    margin-right: 5px;
    background: var(--vp-c-default-soft);
}


.grad-warped {
    background: linear-gradient(90deg, #3cff57, #00CDAC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad-redux {
    background: linear-gradient(90deg, #FFB000, #D9924F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad-survivalhome {
    background: linear-gradient(90deg, #FBA600, #FDFDFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad-darkoffuture {
    background: linear-gradient(90deg, #eab709, #8e750b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad-crimsonium {
    background: linear-gradient(90deg, #ff347e, #9f8bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grad-haunted {
    background: linear-gradient(90deg, #282828, #A5A5A5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}