.VPHome {
  a.icon::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 0.5em;
  }

  a.servers::before {
    background-image: url("/icons/mezaservers.svg");
    transform: scale(.95, .95) translate(0, 25%);
  }

  .text {
    padding-top: .5rem;
    font-size: 42px;
    line-height: 56px;
  }

  //.VPButton {
  //  border-radius: 10px !important;
  //}
}