.VPHome {
  a.icon::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 0.5em;
  }

  a.icon-mezaservers::before {
    background-image: url("/icons/mezaservers.svg");
    transform: scale(.95, .95) translate(0, 25%);
  }

  a.icon-book-open::before {
    background-image: url("/icons/book-open.svg");
    transform: scale(.95, .95) translate(0, 30%);
  }

  a.alt {
    transition: 150ms all ease-in-out !important;
    outline: 2px transparent solid;
    &:hover {
      outline-color: var(--vp-c-brand-2);
      outline-offset: 2px;
    }
    &:active {
      outline-offset: 8px;
      outline-width: 10px;
      outline-color: transparent;
    }
  }

  .text {
    padding-top: .5rem;
    font-size: 42px;
    line-height: 56px;
    @media (max-width: 640px) {
      font-size: 32px;
      line-height: 48px;
    }
  }

  //.VPButton {
  //  border-radius: 10px !important;
  //}
}